/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.
    Use as follows:
        nextflow run main.nf -profile test,development
----------------------------------------------------------------------------------------
*/

params {
    project         = "Dong_lpWGS_conataminations"
    files           = "/mmfs1/research/dxu/lpWGS_bams/*.bam"
    output          = "/mmfs1/research/hhakimjavadi/projects/mixture_dna/workflow/mutserv/out/Dong_lpWGS_conataminations_20250408"
    detection_limit = 0.03    
    mode            = "mutserve"
}

