/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.
    Use as follows:
        nextflow run main.nf -profile test,development
----------------------------------------------------------------------------------------
*/

params {
    project         = "mixture_dna"
    files           = "/mmfs1/research/hhakimjavadi/projects/mixture_dna/workflow/sarek/results/batch031/preprocessing/mapped/*/*.sorted.bam"
    output          = "/mmfs1/research/hhakimjavadi/projects/mixture_dna/workflow/mutserv/out/batch3_20241119_run5"
    detection_limit = 0.03    
    mode            = "mutserve"
}

